<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="George Antoniadis"/>
    <title>Educational Software</title>

    <link rel='stylesheet prefetch'
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel='stylesheet prefetch'
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link th:href="@{../style.css}" media="screen" rel="stylesheet" type="text/css"/>
</head>

<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page#3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page#4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page#5</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer id="copyright" class="fixed-bottom py-3">
        <div class="copyright text-center text-white">
            <div class="container">
                <small>Copyright © Antoniadis and Tzoumas 2018</small>
            </div>
        </div>
    </footer>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.js}"></script>
</div>

</html>
