<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="author" content="George Antoniadis"/>
  <title>User login page</title>

  <link rel='stylesheet prefetch' th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css}"/>
  <link rel='stylesheet prefetch' th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
  <link rel="stylesheet" th:href="@{style.css}"/>
</head>

<body>

  <div class="container-fluid">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="#">Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Page#1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page#2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page#3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page#4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page#5</a>
      </li>
    </ul>
  </div>
</nav>
  
<section id="login" class="wrapper">
<form th:action="@{/login}" th:object="${user}" method="post" class="form-signin card col-12 col-md-7 col-xl-4 m-auto">
  <h2 class="form-heading mt-2">Please Login</h2>
  <input type="email" class="form-control my-1" name="email" placeholder="Email Address" required="true" autofocus="" th:field="*{email}"/>
  <input type="password" class="form-control mb-2" name="password" placeholder="Password" required="true" th:field="*{password}"/>
  <button class="btn btn-lg btn-primary btn-block mb-3 mx-auto col-md-4 col-8" type="submit">Login</button>
</form>  
</section>
<section id="copyright" class="fixed-bottom py-3">
    <div class="copyright text-center text-white">
      <div class="container">
        <small>Copyright © We 2018</small>
      </div>
    </div>
</section>
  </div>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
</body>
</html>
