<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<nav th:include="layout :: navbar"></nav>

<section id="register" class="wrapper">
    <form th:action="@{/registration}" th:object="${user}" method="post"
          class="form-signin card col-12 col-md-7 col-xl-4 m-auto"
          data-toggle="validator">

        <h2 class="form-heading mt-2" th:text="#{reg.header}"></h2>

        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
              class="validation-message alert alert-danger"></span>
        <input type="text" id="name" class="form-control form-group" th:placeholder="#{reg.first.name}"
               autofocus="autofocus"
               th:field="*{firstName}"/>

        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
              class="validation-message alert alert-danger"></span>
        <input type="text" class="form-control form-group" th:placeholder="#{reg.last.name}"
               th:field="*{lastName}"/>

        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
              class="validation-message alert alert-danger"></span>
        <input type="text" class="form-control form-group" th:placeholder="#{reg.email}"
               th:field="*{email}"/>

        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
              class="validation-message alert alert-danger"></span>
        <input type="password" id="password" class="form-control form-group" th:placeholder="#{reg.password}"
               th:field="*{password}"/>

        <button class="btn btn-lg btn-primary btn-block mb-3 mx-auto col-md-4 col-8" type="submit"
                th:text="#{button.submit}"></button>
    </form>
</section>
<div th:include="layout :: footer"></div>
</body>
</html>
