<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>

<body>
<nav th:include="layout :: navbar"></nav>

<section id="dashboard" class="wrapper">
    <form class="text-center card col-12 col-md-7 col-xl-4 m-auto" th:action="@{/tests/chapter}" method="get">
        <h2 class="display-5" th:text="#{tests.self.assessment.title}"></h2>
        <label for="test-by-chapter" th:text="#{tests.by.chapter}"></label>
        <div id="test-by-chapter" class="btn-group-vertical" role="group">
            <button th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}"
                    th:text="${chapter.value}" class="btn btn-secondary my-2"
                    name="chapterId" th:value="${chapter.key}" type="submit">
            </button>
        </div>
    </form>

    <!--<form class="text-center card col-12 col-md-7 col-xl-4 m-auto" th:action="@{/tests/overall}"  method="post">-->
    <!--<h2 class="display-5" th:text="#{dashboard.self.assessment.title}"></h2>-->
    <!--<label for="test-by-chapter" th:text="#{dashboard.test.by.chapter}"></label>-->
    <!--<div id="test-by-chapter" class="btn-group-vertical" role="group">-->
    <!--<button th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}"-->
    <!--th:text="${chapter.value}" class="btn btn-secondary my-2"-->
    <!--name="chapterId" th:value="${chapter.key}" type="submit">-->
    <!--</button>-->
    <!--</div>-->
    <!--</form>-->


</section>
<div th:include="layout :: footer"></div>
</body>
</html>
