<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>

<body>
<nav th:include="layout :: navbar"></nav>

<section class="wrapper">
    <div th:each="chapter : ${chapters}">
        <div th:unless="${chapter.chapterId == 3}" class="card bg-light mb-3 col-12 col-md-10 col-xl-8 m-auto">
            <div class="card-header" th:text="${chapter.chapterName}"></div>
            <div class="card-body">
                <p class="card-text" th:text="${chapter.chapterTheory}"></p>
            </div>
        </div>
    </div>
</section>
<div th:include="layout :: footer"></div>
</body>
</html>